repo = "github.com/octokit/go-octokit"

[deps.netrc]
import = "code.google.com/p/go-netrc/netrc"
commit = "0da3cb9c37e0"

[deps.sawyer]
import = "github.com/lostisland/go-sawyer"
commit = "ec1b99a1915d53f09d40d0c87caf60460b7f8728"

[deps.assert]
import = "github.com/bmizerany/assert"
commit = "e17e99893cb6509f428e1728281c2ad60a6b31e3"
